.grid-item {
    width: 196px;
    background-color: #ffebcd;
    height: 196px;
    font-size: 4em;
    border: 2px dashed grey;
    box-sizing: content-box;
    text-align: center;
    overflow: hidden;
}

.grid-item--width2 {
    width: 396px;
    background-color: #ffabcd;
}

.grid-item--height2 {
    height: 396px !important;
    background-color: #ff9bcd !important;;
}

.grid {
    /*height: 600px;*/
    /*width: 800px;*/
    background-color: aquamarine;
}

span.add, span.addn, span.redraw, span.animate {
    height: 40px;
    display: inline-block;
    background-color: #004;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 7px;
    font-size: 31px;
    text-align: center;
}

.grid-item .inner {
    transition: transform .5s, filter .7s, -webkit-filter .7s, -o-filter .7s, -moz-filter .7s, -ms-filter .7s,;
    filter: brightness(0.8) saturate(0.8) contrast(0.8);
    -webkit-filter: brightness(0.8) saturate(0.8) contrast(0.8);
    -moz-filter: brightness(0.8) saturate(0.8) contrast(0.8);
    -o-filter: brightness(0.8) saturate(0.8) contrast(0.8);
    -ms-filter: brightness(0.8), saturate(0.8), contrast(0.8);
}

.grid-item .inner:hover {
    filter: brightness(1) saturate(1) contrast(1);
    -webkit-filter: brightness(1) saturate(1) contrast(1);
    -moz-filter: brightness(1) saturate(1) contrast(1);
    -o-filter: brightness(1) saturate(1) contrast(1);
    -ms-filter: brightness(1), saturate(1), contrast(1);
    transform: scale(1.3,1.3);
}

canvas {
    margin: 0;
    padding: 0;
}